<ion-view view-title="home page">
  <ion-content scroll="false">
    <section class="home">
      <div class="home--top-logos">
        <img src="img/tillLogo.svg" class="logo">
        <img src="img/knowItLogo.svg" class="logo" id="knowItLogo">

        <img src="img/instructionLogo.svg" class="logo">

      </div>

      <div class="home--text-Style">אני המחברת הדיגיטלית שלך</div>

      <div class="home--text-Style">בחר את ההרצאה שברצונך לסכם</div>

      <div class="home--lectures">
        <div class="home--plenary-lecture" ui-sref="openingLecture">הרצאת פתיחה</div>
        <div class="home--midle-lecture">
          <div class="home--plenary-lecture home-midleLecture-text">מושב א'
            <br> בכירים</div>
          <div class="home--plenary-lecture home-midleLecture-text">מושב א'
            <br> זוטרים</div>
        </div>
        <div class="home--midle-lecture">
          <div class="home--plenary-lecture home-midleLecture-text">מושב א'
            <br> בכירים</div>
          <div class="home--plenary-lecture home-midleLecture-text">מושב א'
            <br> זוטרים</div>
        </div>
        <div class="home--plenary-lecture">הרצאת פתיחה</div>
      </div>

      <div class="home--bottom">
        <img src="img/leftLineDesign.svg">
        <img src="img/rightLineDesign.svg">

      </div>


    </section>

  </ion-content>
</ion-view>
