<ion-view view-title="home page">
  <ion-content scroll="false">
    <section class="home">
      <div class="home--top-logos">
        <img src="img/tillLogo.svg" class="logo">
        <img src="img/knowItLogo.svg" class="logo" id="knowItLogo">

        <img src="img/instructionLogo.svg" class="logo">

      </div>

      <h1 class="home--text-Style">אני המחברת הדיגיטלית שלך</h1>

      <h1 class="home--text-Style">בחר את ההרצאה שברצונך לסכם</h1>

      <div class="home--lectures">
        <h1 class="home--plenary-lecture">הרצאת פתיחה</h1>
        <div class="home--midle-lecture">
          <h1 class="home--plenary-lecture home-midleLecture-text">מושב א'
            <br> בכירים</h1>
          <h1 class="home--plenary-lecture home-midleLecture-text">מושב א'
            <br> זוטרים</h1>
        </div>
        <h1 class="home--plenary-lecture">הרצאת פתיחה</h1>
      </div>
    </section>

  </ion-content>
</ion-view>
