<ion-view view-title="lecture summary page">
  <ion-content scroll="false">
    <section class="home">

      <select name="lectures" class="lecture--select" ng-model="lectureSelect">
        <option value="מרחבי למידה - שרון גרינברג (מכון מופת)">מרחבי למידה - שרון גרינברג (מכון מופת)</option>
        <option value="מהדרכה להנחיה - עידית משה (המי''ל)">מהדרכה להנחיה - עידית משה (המי''ל)</option>
        <option value="חדשנות פדגוגית - יונתן שלם">חדשנות פדגוגית - יונתן שלם</option>
      </select>
      <img src="img/knowItPic.svg" class="lecture--pic">


      <!-- <h1 class="lecture--Title">כנס know it</h1> -->
      <textarea type="text" placeholder="הקלד את הסיכום שלך כאן...." dir="rtl" ng-model="textshow" ng-init="textshow" class="inputStyle"></textarea>
      <!-- <textarea type="text" placeholder="הכנס טקסט !!!" dir="rtl" ng-model="text" ng-init= class="inputStyle"></textarea> -->
      <button ng-click="saveTextLocal(textshow,lectureSelect)" class="lecture--submitButton">שמור</button>
      <!-- <h1 class="text">התוכן שהוקלד</h1> -->
      <!-- <button ng-click="delete()">לחץ כדי למחוק</button> -->

      <!-- <h3 class="text">{{textshow}}</h3> -->
    </section>



  </ion-content>
</ion-view>
