/* Empty. Add your own CSS if you like */

textarea {
  width: 90%;
  display: block;
  margin: 0 auto;
  line-height: 1.3em;
  font-size: 3.5vh;
  /* text-align: center; */
  height: 40vh;
}

.lecture--Title {
  text-align: center;
}

.lecture--pic {
  position: absolute;
  top: 2.2vh;
  margin: 0 auto;
  height: 10vh;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.lecture--submitButton {
  position: absolute;
  color: white;
  background: #2CBBD8;
  border: none;
  top: 2vh;
  height: 6vh;
  width: 11vh;
  right: 2vh;
  font-size: 3vh;
}

.text {
  text-align: center;
}

.lecture--select {
  margin: 0 auto;
  margin-top: 10vh;
  display: flex;
  width: 71%;
  height: 5vh;
  font-size: 2.5vh;
  border-color: #2CBBD8;
  direction: rtl;
}

.logo {
  height: 7.5vh;
}

.home--top-logos {
  display: flex;
  align-items: flex-start;
  margin-top: 2vh;
  flex-direction: row-reverse;
  /* align-self: flex-start; */
  justify-content: space-between;
  margin-left: 3%;
  margin-right: 3%;
}

#knowItLogo {
  margin-top: 4vh;
  height: 19vh;
}

.home--text-Style {
  font-size: 3vh;
  text-align: center;
  color: #F68D40;
}

.home--plenary-lecture {
  border: solid;
  height: 9vh;
  border-color: #2CBBD8;
  width: 80%;
  display: inherit;
  margin: auto;
  vertical-align: middle;
  line-height: 6vh;
  direction: rtl;
  margin-top: 1vh;
  font-size: 4.5vh;
  text-align: center;
}

.home--midle-lecture {
  flex-direction: row;
  display: flex;
  width: 81.3%;
  justify-content: space-between;
  margin: 0 auto;
  /* display: flex; */
}

.home-midleLecture-text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  line-height: 3.5vh;
  font-size: 3.5vh;
}

.home--lectures {
  margin-top: 4vh;
}

.home--bottom {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 20vh;
}
